body {
    margin:0;
    padding:0;
    box-sizing: border-box;
    display: felx;
}

header {
    height: 6em;
    width: 100%;
    background-color: lightgrey;
    display: flex;
}

header h2 {
    padding: 0.5em 1em;
}

header >button {
    width: 7em;
    padding: 4px;
    margin: 0;
    background-color: white;
    align-self: flex-end;
    border-radius: 7px;
}

#color {
    position: relative;
    margin-left: 7em;
}

#color-palette {
    width: 7em;
    height: 7em;
    border: 1px solid lightslategrey;
    position: absolute;
    margin-top: 0.5em;
    border-radius: 5px;
    box-sizing: border-box;
    flex-flow: row wrap;
    justify-content: space-between;
    z-index: 4;
    left: -2px;
    display: none;
} 

#color-palette div {
    width: 2em;
    height: 2em;
    border: 1px solid black;
    position: relative;
}

#container {
    width: 100%;
    height: 600px;
    position: relative;
}

.shape {
    border: 2px solid lightslategray;
    display: flex;
    position: relative;
}

.oval {
    border-radius: 50%;
    border: 2px solid lightslategray;
}

.rectangle {
     border-radius: 0%;
     border: 2px solid lightslategray;
}

.handle {
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: white;
    border: 1px solid black;
}